.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px; 
    background-color: #2d2d2d; 
}

.nav-section {
    display: flex;
    align-items: center;

    gap: 1rem;
    padding: 5px; 
    border-radius: 1rem; 
    background-color: #514f4f; 
}

.nav-section p {
    font-size: 25px;
    font-weight: bold; 
    color: #fff; 
}

.nav-section button {
    display: flex;
    flex-wrap: none;
    justify-content: center;
    align-items: center; 

    white-space: nowrap;
    padding: 2.5px; 

    color: #fff; 
    border-radius: 1rem;
    background-color: #2d2d2d
}




